body{
    margin: 0;
    background-color: #ccc5b9;
}

.searchbar{
    height: 20%;
    width: 50%;
}

.search-button{
    background-color: #eb5e28;
    width: 5vw;
    height: 3vh;
    margin-left: 2%;
    border: 1px solid #ccc5b9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3vw;
    min-height: 1vh;
}

p{
    font-size: 1vw;
    font-weight: 500;
}

h1, h2, input, p, h3{
    font-family: 'Roboto Slab', serif;
}

.search-button:hover{
    background-color: #eb5f28be;
    cursor: pointer;
}

.search-button:active{
    background-color: #ccc5b9;
}
.nav-div{
    margin-top: 3vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10vh;
    background-color: #403d39;
    border-radius: 10px;
}

.main-view{
    text-align: center;
    margin: 0;
}

.main-view>div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.music-article{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fffcf2;
    border-radius: 1vmax;
    width: 70%;
    height: 13vh;
}

.music-article>span{
    width: 20%;
    flex-grow: 1;
}

.music-article>span:first-child{
    width: 2vmax;
    height: 100%;
    display: flex;
}
.music-article>span:first-child>img{
    border-radius: 1vmax 0px 0px 1vmax;
    height: 100%;
}

.music-article>span:last-child{
    width: 2vmax;
    height: 100%;
    background-color: #252422;
    border-radius: 0px 1vmax 1vmax 0px;
    display: flex;
    align-items: center;
}

.play-button{
    font-size: 2vmax;
    color: #eb5e28;
    display: flex;
    justify-content: center;
}

.play-button>i:hover{
    cursor: pointer;
    color: #eb5f28be;
}

.spacing-bottom{
    margin-top: 1%;
}

.music-player{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #252422c4;
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
}

.music-player h1{
    color: white;
}

.current-song{
    color: white;
    width: 70%;
    display: flex;
    align-items: center;
}